services:
  db:
    image: postgres:15
    container_name: transfer_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transfer_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  app:
    build: .
    container_name: transfer_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy  
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/transfer_db
      REDIS_URL: redis://redis:6379/0
      CACHE_ENABLED: "1"

    ports:
      - "8000:8000"


  redis:
    image: redis:7-alpine
    container_name: transfer_redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5
