apiVersion: v1
kind: Secret
metadata:
  name: transfer-system-secrets
  namespace: transfer-system
type: Opaque
stringData:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "change-me"
  POSTGRES_DB: "transfer_db"
  DATABASE_URL: "postgresql+psycopg://postgres:change-me@postgres:5432/transfer_db"
  RABBITMQ_DEFAULT_USER: "transfer"
  RABBITMQ_DEFAULT_PASS: "change-me"
  RABBITMQ_URL: "amqp://transfer:change-me@rabbitmq.transfer-system.svc.cluster.local:5672//"
  CELERY_BROKER_URL: "amqp://transfer:change-me@rabbitmq.transfer-system.svc.cluster.local:5672//"
  CELERY_RESULT_BACKEND: "redis://redis:6379/0"
  SENTRY_DSN: ""
